.app{
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */
    /* padding: 10px 0px; */
    padding: 0px 30px;
    background-color: rgba(247, 223, 153, 0.8);
    outline: none;
    backdrop-filter: blur(20px);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */

    
}

.nav-items > ul {
    
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    /* padding: 2px; */
    font-size: 20px;
    margin: 10px;
    color: rgb(2, 4, 32);
}

.logo {
    width: 100px;
    padding-left: 20px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 200px;
    /* height: 300px; */
    /* border: 1px solid black; #eef0f5 */
    background-color: #eef0f5;
    padding: 10px;
    margin: 5px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid rgb(186, 184, 184);
    
}

.search{
    padding: 10px;
}

.image{
    overflow: hidden;
}
.res-img{
    width: 100%;
    transition: scale 400ms;
}
.image:hover .res-img{
    scale: 120%;
}
.res-detail{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.res-type{
    margin: 5px 0px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
}


/* Shimmer */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 250px;
    background-color: #eef0f5;
    padding: 10px;
    margin: 5px;
}